@model IEnumerable<Infrastructure.DtoModels.PromotionDto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.Percent)
        </th>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th style="text-align:center">
            @Html.Label("Actions")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.Percent)
        </td>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td style="text-align:center">
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
