@using Services.Services
@model DigiProject.Controllers.MobileDetails

@{
    ViewBag.Title = "MobileDetail";
}



<style>
    th, tr {
        text-align: center
    }

    textarea {
        margin-left: 178px;
        text-align-last: end;
    }
</style>

<h2 style="text-align:center"><b>@Model.MobileDto.Name</b></h2>

<div style=" display: flex; JUSTIFY-CONTENT: center; ALIGN-ITEMS: center;" }>
    @if (Model.MobileDto.AttachmentImageId != null)
    {
        var attachmentImageSrc = new AttachmentFileService().GetAttachmentSourceValue(Model.MobileDto.AttachmentImageId);

        <img src="@attachmentImageSrc" alt="@Model.MobileDto.Name" title="@Model.MobileDto.Name" style="width:960px; height:640px;" />
    }
    else
    {
        <img src="~/img/download.png" alt="@Model.MobileDto.Name" title="@Model.MobileDto.Name" style="width:960px; height:640px;" />
    }
</div>

<br />
<br />

<b style="font-size:25px">توضیحات</b>
<p style="font-size:20px">
    @Model.MobileDto.Description
</p>

<br />
<br />

<p style="text-align:left; text-align:right">
    <b style="font-size:20px">
        اطلاعات محصول
    </b>
</p>
<div style="overflow-x: overlay;">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MobileDto.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileDto.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileDto.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileDto.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileDto.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileDto.ImmediateSending)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileDto.CreatedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileDto.MobileRam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileDto.InternalStorage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileDto.CameraResolution)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileDto.OS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileDto.Network)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileDto.Model)
            </th>
        </tr>


        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.MobileDto.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.MobileDto.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.MobileDto.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.MobileDto.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.MobileDto.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.MobileDto.ImmediateSending)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.MobileDto.CreatedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.MobileDto.MobileRam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.MobileDto.InternalStorage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.MobileDto.CameraResolution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.MobileDto.OS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.MobileDto.Network)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.MobileDto.Model)
            </td>
        </tr>
    </table>
</div>

<br />
<br />
<br />

<b style="font-size:25px">نظرات</b>
<hr />
<div>
    @if (Model.CommentDtos.Count() == 0)
    {
        <p style="text-align:center;font-size:30px">
            <b>تاکنون هیچ نظری ثبت نشده است</b>
        </p>
    }
    else
    {
        foreach (var item in Model.CommentDtos)
        {
            <div style="font-size:17px;">
                <b style="color: red">@item.Name</b> می گوید:
            </div>
            <br />
            <p>
                @item.Content
            </p>
        }
    }
</div>
<hr />
<div>
    <form action="@Url.Action("Create","Comments")" method="POST">
        <div class="form-group">
            @Html.Label("نام و نام خانوادگی", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="" style="direction: ltr;">
                <input name="name" type="text" id="name" placeholder="نام و نام خانوادگی" class="form-control" />
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.Label("شرح", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="" style="direction:ltr">
                <textarea name="description" id="description" class="form-control" style="width:400px; height:200px"></textarea>
                <input name="Id" value="@Model.MobileDto.ID" hidden />
                <input name="action" value="MobileDetail" hidden />
                <input name="controller" value="Mobiles" hidden />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-1">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </form>
</div>
